<footer>
    <img src="assets/icons/logo-nobg.png" alt=".">
    <div class="footer-info">
        <h2>Auto Service <span>&copy; 2025</span></h2>
        <a target="_blank" href="https://maps.app.goo.gl/JgW15VRrjBmdMw6JA">Universitatea de Medicină, Farmacie, Științe și Tehnologie</a>
        <p>Telefon: +40 123 456 789</p>
        <p>Email: <a href="mailto:apopi.mihai@gmail.com">apopi.mihai@gmail.com</a></p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2744.0218005635!2d24.565794775521983!3d46.54725556052891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474bb649d1e175b1%3A0xac05a067baca6874!2sUniversitatea%20de%20Medicin%C4%83%2C%20Farmacie%2C%20%C8%98tiin%C8%9Be%20%C8%99i%20Tehnologie!5e0!3m2!1sro!2sro!4v1765204396600!5m2!1sro!2sro" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>