:root{
    --primary-red:#810000;
    --secondary-red:#ce1212;
    --primary-bg:#e9e9e9;
    --secondary-bg:#1b1717;
}
body{
    background-color: #f1f0f0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-bg);
}
header{
    background-color: var(--primary-bg);
    width: 60%;
    height: 65px;
    display: flex;
    justify-content:space-between;
    padding: 0px 50px;
    align-items: center;
    position: fixed;
    left: 50%;
    right: 50%;
    translate: -50% 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    z-index: 9999;
}
header img{
    height: 80%;
}
nav{
    display: flex;
    gap: 50px;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-red);
    font-weight: 500;
    transition: all 0.4s;
}
header a:hover{
    text-decoration: underline;
    color: var(--primary-red);
}

/* HERO SECTION */

.hero-section{
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80dvh;
}
blockquote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8.4px);
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    bottom:50%;
    translate: 10% -65%;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    }

/* WHAT WE OFFER SECTION */
.what-we-offer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10dvh;
    
}
.what-we-offer-section h2{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.what-we-offer-section ul{
    list-style-type: none;
    margin-top: 10px;
    font-size: 20px;
}
.what-we-offer-section ul li{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.what-we-offer-section ul li img{
    height: 24px;
    box-shadow: none;
    border-radius: 0px;

}
.what-we-offer-section img{
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.reserve-now-button{
    text-decoration: none;
    color: var(--primary-bg);
    background-color: var(--primary-red);
    padding: 15px 15px;
    border-radius: 12px;
    transition: background-color 0.35s ease;
}
.reserve-now-button:hover{
    background-color: var(--secondary-red);
}