:root{
    --primary-red:#810000;
    --secondary-red:#ce1212;
    --primary-bg:#e9e9e9;
    --secondary-bg:#d1d1d1;
}
body{
    background-color: #f1f0f0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
header{
    background-color: var(--primary-bg);
    width: 60%;
    height: 65px;
    display: flex;
    justify-content:space-between;
    padding: 0px 50px;
    align-items: center;
    position: fixed;
    left: 50%;
    right: 50%;
    translate: -50% 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    z-index: 9999;
}
header img{
    height: 80%;
}
nav{
    display: flex;
    gap: 50px;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-red);
    font-weight: 500;
    transition: all 0.4s;
}
header a:hover{
    text-decoration: underline;
    color: var(--primary-red);
}

/* HERO SECTION */

.hero-section{
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80dvh;
}
blockquote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8.4px);
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    bottom:50%;
    translate: 10% -65%;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    }

/* WHAT WE OFFER SECTION */
.what-we-offer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10dvh 15dvh;
}
.what-we-offer-section h2{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.what-we-offer-section ul{
    list-style-type: none;
    margin-top: 10px;
    font-size: 20px;
}
.what-we-offer-section ul li{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.what-we-offer-section ul li img{
    height: 24px;
    box-shadow: none;
    border-radius: 0px;

}
.what-we-offer-section img{
    height: 50%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.reserve-now-button{
    text-decoration: none;
    color: var(--primary-bg);
    background-color: var(--primary-red);
    padding: 15px 15px;
    border-radius: 12px;
    transition: background-color 0.35s ease;
}
.reserve-now-button:hover{
    background-color: var(--secondary-red);
}

/* FOOTER */
footer{
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    color: #000;
}
footer img{
    max-height: 200px;
}
footer a{
    text-decoration: none;
    color:#000;
    transition: all 0.25s ease;
}
footer a:hover{
    text-decoration: underline;
    color: var(--secondary-red);
}



/* CONTACT PAGE */
.contact-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:150px 0px;

}
.contact-section{
    display: block;
    background-color: var(--primary-red);
    padding: 30px 90px;
    color: #fff;
    border-radius: 15px;
    width: 30%;
    height: 500px;
}
.contact-section input, .contact-section textarea{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.85);
}
.contact-section form{
    display: flex;
    flex-direction: column;
}
.contact-section button{
    width: 50%;
    height: 40px;
    border-radius: 0.7rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--primary-red);
    font-weight: 600;
    transition: background-color 0.35s ease;
    text-transform: uppercase;
}
.contact-section button:hover{
    background-color: #f5eedd;
    cursor: pointer;
}
.find-us-section{
    width: 40%;
}
.find-us-section iframe{
    width: 90%;
    height: 400px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}